:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body,
html,
#root {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}